<h2>Eat Da Burger</h2>
<div class="container">
    <div class="row text-center align-items-center">
        <div class="col-sm align-middle">
            <ul>
                {{#each burger}}
                    {{#unless devoured}}
                        {{>burgers/burger-block devoured=true}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm align-middle">
            <img src="../public/assets/img/funny-fruit-clipart-101714.png" alt = "burger image">
        </div>

        <div class="col-sm align-middle">
            <ul>
                {{#each burger}}
                    {{#if devoured}}
                        {{>burgers/burger-block devoured=false}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<form>
    <div class="form-group">
        <label for="addBurger">Add A New Burger</label>
        <input type="text" id="addBurger" name="burger_name">
    </div>
    <button type="submit" class="btn btn-success" id="submit">Submit</button>
</form>

