<img src="./public/assets/img/funny-fruit-clipart-101714.png" alt = "burger image">
<h2>Eat Da Burger</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 notDevoured">

        </div>
        <div class="col-sm-3 devoured">

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<form>
    <div class="form-group">
        <label for="newBurger">Add A New Burger</label>
        <textarea class="form-control" id="newBurger" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>