<li class="list-group-item">
    {{burger_name}}

    <button type="button" class="change-devoured" id="buttons" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Devour!{{/if}}
    </button>

</li>